
<nav class="navbar navbar-mega" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
       
        <ul class="navbar-collapse collapse" id="navbar1">
            <ul class="nav navbar-nav navbar-left">
                <li><div class="header_oulu">
                    <img src="/assets/images/header_oulu.png" alt="Megakisa Oulu">
                </div></li>
            </ul>
            <ul class="nav navbar-nav navbar-right" >
                <li><a href="#"><img src="/assets/images/cities.png" alt="Vaihda paikkakuntaa"></a></li>
                <li><a href="#"><img src="/assets/images/signin.png" alt="Kirjaudu sisään"></a></li>
                <li><a href="#"><img src="/assets/images/register.png" alt="Rekisteröidy"></a></li>
            </ul>
        </ul>
    </div>
    
</nav>


