

<div class="footer">
    <div class="container">
        <div class="row">
         <div class="shortly">
            <div class="col-sm-1"> 
                <a href="#"><img src="/assets/images/shortly.png" alt="Lyhyesti"></a>           
             </div>
         </div> 
         <div class="business">
            <div class="col-sm-2">    
                <a href="#"><img src="/assets/images/business.png" alt="Yrityksille"></a>
             </div>
         </div>
         <div class="partners">
            <div class="col-sm-2"> 
                <a href="#"><img src="/assets/images/partners.png" alt="Kumppaneille"></a>
             </div>
         </div>
         <div class="competitives">
            <div class="col-sm-2">    
                <a href="#"><img src="/assets/images/competitives.png" alt="Edelliset kilpailut"></a>
             </div>
         </div>
         <div class="contact">
            <div class="col-sm-2">
                <a href="#"><img src="/assets/images/contact.png" alt="Yhteystiedot"></a>
            </div>
         </div> 
         <div class="social_media">    
            <div class="col-sm-3">
                <a href="https://www.pinterest.com/login/"><img src="/assets/images/pinterest.png"></a>
                <a href="https://fi-fi.facebook.com/"><img src="/assets/images/facebook.png"></a>
                <a href="https://plus.google.com/"><img src="/assets/images/google_plus.png"></a>
                <a href="https://twitter.com/"><img src="/assets/images/twitter.png"></a>
            </div> 
         </div>
            
        </div>
        <div class="row">
            <div class="h_line">
                <img src="/assets/images/h_line.png">
            </div>
        </div>
        <div class="row">
            <div class="address">
                <img src="/assets/images/address.png">
            </div>
        </div>
    </div>
    
</div>

