

<div class="footer">
    <div class="container">
<div class="row">
        
        
        <div class="col-sm-2">
            <a href="#"><img src="/assets/images/shortly.png" id="footer_header1"></a>           
        </div>
        <div class="col-sm-2">
            <a href="#"><img src="/assets/images/business.png" class="footer_header2"></a>
        </div>
        <div class="col-sm-2">
            <a href="#"><img src="/assets/images/partners.png" class="footer_header3"></a>
        </div>
        <div class="col-sm-2">
            <a href="#"><img src="/assets/images/competitives.png" class="footer_header4"></a>
        </div>
        <div class="col-sm-2">
            <a href="#"><img src="/assets/images/contact.png" class="footer_header5"></a>
        </div> 
    </div>

</div>
</div>