body {
    /*background:url(../images/background.jpg) center top no-repeat;
    max-width:970px;*/
    background:url(../images/background.jpg) no-repeat;
    background-size:cover; 

    /* Workaround for some mobile browsers */
    /*min-height:100%;    
    padding-top: 20px;
    padding-bottom: 20px;*/
}

.row {
    margin-left:4em;
}


.col-sm-4{
    padding-left:0px;
    padding-right:0px;
}

/*.col-sm-1{
    padding-left:0px;
    padding-right:0px;
}*/
.img-logo {
    max-height:80px;
    margin-top:-40px;
}

.img-set {
    max-width:970px;
}

.img-large {
    height:"auto"; 
}


/* start navbar */

.navbar {
    /*border-radius: 0;*/
    min-height:80px;
}

.navbar-mega {
    /*width:100%;*/
    background:url(../images/header_bottom.png) no-repeat;
/*    background-size:cover;*/
 
    /*max-width:100%;
    height:auto;
    border-color:#fffafa;*/
    
}
/*
.navbar-new .navbar-brand,
.navbar-new .navbar-brand:hover,
.navbar-new .navbar-brand:focus {
    color: #ff0000;
}

.navbar-new .navbar-nav > li > a {
    color: #ff0000;
}

.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
    background-color: #fffafa;
}

.navbar-new .navbar-nav > .active > a,
.navbar-new .navbar-nav > .active > a:hover,
.navbar-new .navbar-nav > .active > a:focus {
    color: #fffafa;
    background-color: #fffafa;
}

.navbar-new .navbar-text {
    
    color: #ff0000;
}
*/
.navbar-mega .navbar-toggle {
    border-color: #000000;
}

.navbar-mega .navbar-toggle:hover,
.navbar navbar-default navbar-fixed-top .navbar-toggle:focus {
    background-color: #FFFFFF;
}

.navbar-mega .navbar-toggle .icon-bar {
    background-color:#000000;
}

/* end navbar */

.header_oulu {
    margin-left:80px;
}

.footer_header1{
    max-height:70%;
}

.footer {
    /*max-width:900px;**/
    min-height:100px;
    background:url(../images/footer_background.png) no-repeat;
}

.footer .container {
  min-height: 150px;
}

.footer .container .row {
    margin-top:30px;
}

.bottom-shortly {
    height:8px;
    width:55px;
}

.bottom-business {
    height:8px;
    width:75px;
}

.bottom-partners {
    height:8px;
    width:77px;
}

.bottom-competitives {
    height:8px;
    width:75px;
}

.bottom-contact {
    height:8px;
    width:70px;
}