body {
    /*background:url(../images/background.jpg) center top no-repeat;
    max-width:970px;*/
    
     background:url(../images/background.jpg) no-repeat;
    background-size:cover;  

    /* Workaround for some mobile browsers */
    min-height:100%;    
    padding-top: 20px;
    padding-bottom: 20px;
}

.row {
    max-width:970px;
}

.col {
    /*min-width:700px;*/
   
}

.img-logo {
   max-height:80px;
    max-width:900px;
    margin-left:4em;
    margin-top:-40px;
}

.img-large {
    height:"auto"; 
    max-width:900px;
    margin-left:4em;
}


.img-set{
     margin-left:3em;
}

/* start navbar */

.navbar {
    /*border-radius: 0;*/
    max-width:900px;
    min-height:80px;
    margin-left:3em;
}

.navbar-mega {
    /*width:100%;*/
    background:url(../images/header_bottom.png) no-repeat;
/*    background-size:cover;*/
 
    /*max-width:100%;
    height:auto;
    border-color:#fffafa;*/
    
}
/*
.navbar-new .navbar-brand,
.navbar-new .navbar-brand:hover,
.navbar-new .navbar-brand:focus {
    color: #ff0000;
}

.navbar-new .navbar-nav > li > a {
    color: #ff0000;
}

.navbar-new .navbar-nav > li > a:hover,
.navbar-new .navbar-nav > li > a:focus {
    background-color: #fffafa;
}

.navbar-new .navbar-nav > .active > a,
.navbar-new .navbar-nav > .active > a:hover,
.navbar-new .navbar-nav > .active > a:focus {
    color: #fffafa;
    background-color: #fffafa;
}

.navbar-new .navbar-text {
    
    color: #ff0000;
}
*/
.navbar-mega .navbar-toggle {
    border-color: #000000;
}

.navbar-mega .navbar-toggle:hover,
.navbar navbar-default navbar-fixed-top .navbar-toggle:focus {
    background-color: #FFFFFF;
}

.navbar-mega .navbar-toggle .icon-bar {
    background-color:#000000;
}

/* end navbar */

.header_oulu {
    margin-left:80px;
}

.footer_header1{
    max-height:70%;
}

.footer {
     background:url(../images/footer_background.png) no-repeat;
}

.footer .container {
  min-height: 150px;
}
