body {
    background:url(../images/background.jpg) no-repeat;
    background-size:cover; 
}

.row {
    margin-left:4em;
}

.col-sm-4{
    padding-left:0px;
    padding-right:0px;
}

.img-logo {
    padding-top:20px;
    max-height:80px;
    margin-top:-40px;
}

.img-set {
    max-width:970px;
}

.img-large {
    height:auto; 
}

.navbar {
   height:auto;
}


.navbar-mega {
   background:url(../images/header_bottom.png) no-repeat;
    background-position: top center;
    background-size:100% 60%;
}

.navbar-mega .navbar-toggle {
    border-color: #000000;
}

.navbar-mega .navbar-toggle:hover,
.navbar navbar-default navbar-fixed-top .navbar-toggle:focus {
    background-color: #FFFFFF;
}

.navbar-mega .navbar-toggle .icon-bar {
    background-color:#000000;
}

.header_oulu {
    margin-left:80px;
}


.footer_header1{
    max-height:70%;
}

.footer {
    min-height:100px;
    background:url(../images/footer_background.png) no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.footer .container {
  min-height: 150px;
}

.footer .container .row {
    margin-top:30px;
    margin-left:4em;
}

.shortly .col-sm-1 {
 padding-right:0px;
    min-width:70px;   
}

.business .col-sm-2 {
    margin-left:15px;
    padding-right:0px;
    min-width:130px;   
}

.partners .col-sm-2{
    margin-left:-30px;
    padding-right:0px;
    min-width:140px; 
} 

.competitives .col-sm-2 {
    margin-left:-20px;
    padding-right:0px;
    min-width:150px;   
}

.contact .col-sm-2 {
    margin-left:-20px;
    margin-right:30px;  
} 

.social_media .col-sm-3 {
    min-width:200px;
}

.h_line{
     margin-top:-10px;
}

.address{
    margin-top:-5px;
    margin-bottom:10px;
    text-align:center;
}
