
    <div ng-include="'/app/components/header/header.html'"></div>

    <div class="container">
        
        <div class="row">
            <div class="col">
                <div class="img-logo">
                    <img src="/assets/images/logo.png" class="img-responsive"  alt="Logo">
                </div>
            </div>
        </div>
        <div class="row">
          <div class="col">
              <div class="img-large">
                <img src="/assets/images/canon.png" class="img-responsive" alt="Canon">
             </div>
          </div>
        </div>

        <div class="row">
         <div class="img-set">
            <div class="col-sm-4">
                <img src="/assets/images/highlights_1.jpg" class="img-responsive" alt="Tapahtumat 1">
            </div>  
             <div class="col-sm-4">
                <img src="/assets/images/highlights_2.jpg" class="img-responsive" alt="Tapahtumat 2">
            </div>
            <div class="col-sm-4">
                <img src="/assets/images/highlights_3.jpg" class="img-responsive" alt="Tapahtumat 3">
            </div>
         </div>
        </div>
        <div class="row">
          <div class="img-set">
            <div class="col-sm-4">
                <img src="/assets/images/karppa_rss.jpg" class="img-responsive" alt="Kärpät RSS">
            </div>  
            <div class="col-sm-4">
                 <a type="application/rss+xml" href="http://www.kaleva.fi/rss/show/?channels=4"> 
                    <img src="/assets/images/kaleva_rss.jpg" class="img-responsive" alt="Kaleva RSS">
                </a>
            </div>
            <div class="col-sm-4">
                <img src="/assets/images/oulu_weather.jpg" class="img-responsive" alt="Oulu sää">
            </div>
          </div>
        </div>    
        
    </div>

    <div ng-include="'/app/components/footer/footer.html'"></div>



                
